* {
	box-sizing: border-box;
}

body {
    background: linear-gradient(39deg, #243b55, #141e30, #13466c, #0d5b82);
    background-size: 800% 800%;

    animation: AnimationName 30s ease infinite;
}


.form-body{
	display: flex;
	align-items: center;
	justify-content: center;
    min-height: 120vh;
    margin-left: 450px;
    width: 600px;
}


.container {
    color: white;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	overflow: hidden;
    width: 200px;
    max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

 .form-group {
	padding-bottom: 23px;
	position: relative;
}

 .form-group label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-group input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 14px;
	padding: 10px;
	width: 100%;
} 

.form-group input:focus {
	outline: 0;
	border-color: #777;
}

.form-group.success input {
	border-color: #2ecc71;
}

.form-group.error input {
	border-color: #e74c3c;
}

.form-group i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-group.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-group.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-group small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-group.error small {
	visibility: visible;
}


.form button {
	background-color: #343a40;
	border: 2px solid #343a40;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}  

input[type="radio"]{
    margin: 5px;
  }

  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}